.faq_btn span:first-child {
    /* negative sign makes it reverse design */
    transform: translateX(-101%);
    transition: transform 0.3s ease-in;
  }
  .faq_btn:hover span {
    transform: translateX(0);
  }
  /* If we need horizontally moved then just use X instead of Y and viceversa */