.explore_btn span:first-child {
  transform: translateY(-101%);
  transition: transform 0.3s ease-in;
}
.explore_btn:hover span {
  transform: translateY(0);
}

/* If we need horizontally moved then just use X instead of Y */

@keyframes busAnimation {
    0% {
      transform: translateX(10%);
    }
    100% {
      transform: translateX(-80%);
    }
  }
  
  .animate-bus {
    animation: busAnimation 5s infinite;
  }
  
  
  
  
  